:host {
  padding: 8px;
}

.header-container {
  padding-bottom: 4px;
  display: flex;
  justify-content: space-between;
}

.tables-container {
  display: flex;
  gap: 20px;
}

.tables-container table {
  border-collapse: collapse;
  width: 100%;
}

.tables-container th,
.tables-container td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

