@import '@taiga-ui/core/styles/taiga-ui-local.less';

:host {
  display: block;
}

.order-book-header {
  display: flex;
  justify-content: space-between;
}

.multi-select {
  width: 80%;
}

.scroll {
  .scrollbar-hidden();
  block-size: 12.5rem;
  --tui-duration: 0;
}
